<div class="row">
    <div class="col-6">
        <form>
            <div class="mb-3">
                <label for="matricula" class="form-label">
                    matricula
                </label>
                <input type="text" placeholder="Matricula" class="form-control">

            </div>

            <div class="mb-3">
                <label for="amaterno" class="form-label">Nombre</label>
                <input type="text" placeholder="nombre" class="form-control">
            </div>

            <div class="mb-3">
                <label for="nombre" class="form-label">Apaterno</label>
                <input type="text" placeholder="Apaterno" class="form-control">
            </div>
            
            <div class="mb-3">
                <label for="nombre" class="form-label">Amaterno</label>
                <input type="text" placeholder="Amaterno" class="form-control">
            </div>

            <div class="mb-3">
                <label for="nombre" class="form-label">Correo</label>
                <input type="text" placeholder="correo" class="form-control">
            </div>

            <div class="mb-3">
                <label for="nombre" class="form-label">Matricula</label>
                <input type="text" placeholder="matricula" class="form-control">
            </div>
            
           

        </form>

    </div>

    <div class="col-6"></div>

</div>
